.page-title {
  width: 100%;
  background: none;
  color: white;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
  padding: 25px;
}

.resume {
  width: 100%;
  background: none;
  color: white;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
  padding: 25px;
}

.google-link:hover {
  background-color: transparent;
  color: #ff0164;
  transition: .15s ease-in-out;
}


@media screen and (max-width: 960px) {
  .page-title {
    /* transform: translate(0, -10%); */
    padding: 25px;
    transition: all 0.1s ease;
  }
}