* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  background-image: linear-gradient(to right,
      #fc7f4e,
      #e94390,
      #ff0164,
      #be0254,
      #740046,
      #530237,
      #460067,
      #5f077f,
      #5546cb,
      #3c91c2,
      #14e0f3);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: 2px solid #310042;
}

.navbar-logo {
  color: white;
  justify-self: start;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 24px;
  font-weight: bold;
}


.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-left: 2rem;
}

.nav-link {
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar-logo:hover {
  background-color: #5546cb;
  color: #ff0164;
  border-radius: 4px;
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link:hover {
  background-color: #e94390;
  /* color: #14e0f3; */
  border-radius: 4px;
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fa-bars {
  color: white;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    position: absolute;
    top: 5rem;
    right: -50%;
    opacity: 1;
    transition: all 0.5s ease;
    border-radius: 0 0 0 10px;
  }

  .nav-menu.active {
    /* background-color: #3c91c2; */
    background-image: linear-gradient(to right,
        #fc7f4e,
        #e94390,
        #ff0164,
        /* #be0254, */
        /* #740046, */
        /* #3b0026, */
        /* #310042, */
        /* #5f077f, */
        #5546cb,
        #3c91c2,
        #14e0f3);
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding-left: 0;
  }

  .nav-link {
    font-weight: bold;
    text-align: center;
    padding: 2rem 0;
    width: 100%;
    display: table;
  }

  .nav-link:hover {
    background-image: linear-gradient(to right,
        #14e0f3,
        #5546cb,
        #5546cb,
        #5546cb,
        #14e0f3);
    color: #ff0164;
    border-radius: 0;
  }

  .last-link:hover {
    border-radius: 0 0 0 10px;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(15%, 37%);
    padding: 0.5rem 1rem;

  }

  /* color: white;
  justify-self: start;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 24px;
  font-weight: bold; */
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: white;
    font-size: 2rem;
  }
}