.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  color: white;
  background-image: linear-gradient(to right,
      #740046,
      #530237,
      #340436,
      #1c002b,
      #340436,
      #460067,
      #5f077f);
  width: 100%;
  min-height: 60px;
  height: 60px;
  margin-top: 50px;
  z-index: 0;
}

.footer-brand {
  margin: auto;
  font-size: 20px;
  vertical-align: middle;
  font-weight: lighter;
}

.footer-icons {
  margin: auto auto auto -50px;
}

.footer-link {
  font-size: 22px;
  padding-left: 20px;
}

.footer-icon:hover {
  cursor: pointer;
  color: #ff0164;
  transition: .15s ease-in;
}

.footer-link:visited {
  color: white;
}

@media screen and (max-width: 640px) {

  .footer {
    flex-direction: column;
  }

  .footer-icons {
    margin: auto;
  }
}