.contact-card-container {
  width: 100vw;
  padding-top: 50px;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 90%;
  background-color: transparent;
}

.contact-card-box {
  display: flex;
  position: relative;
  background-image: linear-gradient(215deg,
      #fc7f4e,
      #e94390,
      #ff0164,
      #be0254,
      #5546cb,
      #3c91c2,
      #14e0f3);
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-card {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #14e0f3;
  padding: 10px;
  width: 100%;
  margin: 2.5%;
  border-radius: 5px;
  box-shadow: -5px 7px rgba(6, 64, 70, 0.27);
}

.contact-card-body {
  margin: auto;
  display: block;
}

.contact-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 20px;
  font-size: 30px;
  color: #870dc0;
  text-align: center;
}

.contact-card-text {
  color: #870dc0;
  text-align: center;
  font-size: 20px;
  line-height: 35px;
  margin: auto;
}

.contact-break {
  background-color: #ff0164;
  color: #ff0164;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  margin: 0.5em auto;
  width: 40%;
}

.contact-link-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: auto;
}

.contact-link {
  font-size: 50px;
  margin: 15px 20px;
  padding: 0.25% 1.75%;
  border-radius: 3px;
}

.contact-link:hover {
  background-color: transparent;
  color: #ff0164;
  transition: .15s ease-in-out;
}

.email {
  color: #870dc0;
}

.email:hover {
  background-color: transparent;
  color: #ff0164;
  transition: .15s ease-in-out;
}

@media screen and (max-width: 960px) {
  .contact-card-box {
    width: 100%;
    height: auto;
  }

  .contact-card {
    display: flex;
    flex-direction: column;
  }

  .profile-img {
    margin: auto;
  }

  .contact-card-text {
    margin: auto 5%;
  }
}

@media screen and (max-width: 640px) {
  .contact-card-container {
    padding-top: 25px;
  }

  .contact-card-text {
    margin: auto 2%;
  }

  .contact-link-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .contact-link {
    font-size: 40px;
    margin: 15px 20px;
    padding: 0.25% 1.75%;
    border-radius: 3px;
  }
}