.contact-card-box {
  display: flex;
  position: relative;
  top: 100px;
  background-image: linear-gradient(215deg,
      #fc7f4e,
      #e94390,
      #ff0164,
      #be0254,
      #5546cb,
      #3c91c2,
      #14e0f3);
  width: 60%;
  margin-top: 20px;
  margin: auto;
  padding: 30px 0;
  margin-bottom: 50px;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-card {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #14e0f3;
  padding: 10px;
  width: 95%;
  margin: auto;
  border-radius: 5px;
  box-shadow: -5px 7px rgba(6, 64, 70, 0.27);
}

.contact-card-body {
  margin: auto;
  display: block;
}

.contact-card-title {
  padding-top: 20px;
  font-size: 30px;
  color: #870dc0;
  text-align: center;
}

.contact-card-text {
  color: #870dc0;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}

.contact-link-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 500px;
}

.contact-link {
  font-size: 50px;
  margin: 15px 20px;
  padding: 5px;
  border-radius: 5px;
}

.contact-link:hover {
  background-color: #870dc0;
  color: white;
}

.contact-break {
  background-color: #ff0164;
  color: #ff0164;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  margin: 0.5em auto;
  width: 50%;
}