.page-container {
  background-color: none;
  font-family: 'Noto Sans JP', sans-serif;
  color: #777777;
  background-image: url("./images/background.webp");
  background-color: none;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: auto;
  clear: both;
  overflow: scroll;
  overflow-x: hidden;

}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

a:visited {
  color: none;
}