.container {
  background-color: none;
  font-family: "Noto Sans", sans-serif;
  color: #777777;
  background-image: url("./assets/background.jpg");
  background-color: none;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: auto;
  clear: both;
  overflow: hidden;
}
