.resume-container {
  display: flex;
}

.resume {
  display: flex;
  width: auto;
  /* margin: auto; */
  height: 100vh;
  border-style: none;
}

/* @media screen and (max-width:960px) {
  .resume {
    width: 100%;
  }
} */